* {
  box-sizing: border-box;
}

html,
body {
  min-width: 960px;
  min-height: 2250px;
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  background-color: #FFFFFF;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-menu {
  background-color: #293449;
}

.header-menu .container {
  display: flex;
  height: 42px;
}

.header-site-title {
  position: relative;

  width: 220px;
  margin: 0px;
  padding: 10px 0;

  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  background-color: #EE3643;
}

.header-site-title::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  
  width: 100%;
  height: 5px;
  background-color: #B52933;
}

.search-field {
  width: 270px;
  padding: 0 10px 0 50px;
  border: none;

  color: #FFFFFF;
  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
  transition: all 0.3s;
}

.search-field::-webkit-input-placeholder {
  color: #FFFFFF;
}

.search-field:hover {
  background-color: #212A3A;
}

.search-field:focus {
  color: #000000;
  outline: none;
  background-color: #FFFFFF;
}
  
.shop-link-list {
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-link-list li {
  flex: 1;

  text-align: center;

  transition: all 0.3s;
}

.shop-link-list a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px 0;

  text-decoration: none;
  color: #fff;
}

.shop-link-list li:not(.order-btn):hover {
  background-color: #212A3A;
}

.shop-link-list li:not(.order-btn):active {
  background-color: #161D29;
}

.shop-link-list li:not(.order-btn) a:active {
  opacity: 0.6;
}

.shop-link-list .order-btn {
  background-color: #63A63E;
}

.shop-link-list .order-btn:hover {
  background-color: #5FBB2D
}

.shop-link-list .order-btn:active {
  opacity: 0.5;
}

.header-wrapper {
  padding-top: 46px;
  padding-bottom: 60px;

  background-color: #f1f5f7;
}

.preview-section {
  display: flex;
  justify-content: space-between;
}

.preview-section > * {
  width: 300px;
  margin: 0;
}

.preview-section .introduction {
  margin-bottom: 45px;
  padding: 5px 50px 0;

  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.contacts a {
  display: inline-block;
  width: 270px;
  height: 45px;
  margin-bottom: 6px;
  padding: 10px 50px 10px 70px;
  border: 3px solid #FFFFFF;

  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
}

.contacts address {
  width: 270px;

  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.user-section {
  display: flex;
}

.user-section a {
  width: 120px;
  height: 45px;
  margin-left: 20px;
  padding: 13px 25px;

  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;

  background-color: #fff;

  transition: all 0.3s;
}

.user-section a:hover {
  color: #FF3333;
}

.user-section a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-section .login {
  padding-left: 50px;
}

.user-section .registration {
  width: 150px;
  margin-left: 10px;
}

.main-navigation ul {
  position: relative;
  display: flex;
  height: 60px;
  margin: 0;
  padding: 0;

  background-color: #32425C;

  list-style: none;
}

.main-navigation li {
  flex-grow: 1;

  border-bottom: 5px solid #293449;

  transition: all 0.3s;
}

.main-navigation a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 0;

  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-decoration: none;

  transition: all 0.5s;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:active {
  background-color: #1D2739;
  border-bottom-color: #1D2739;
}

.main-navigation a:active {
  opacity: 0.5;
}

.offers {
  display: flex;
  justify-content: space-between;
  height: 410px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.first-column {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.second-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-item {
  position: relative;

  width: 300px;
  height: 125px;
  padding: 25px;

  background-image: url('../img/sprite-offers.png');
  background-repeat: no-repeat;
  background-position: 146px -14px;
}

.offer-item.materials {
  background-color: #F6B22D;
  background-position-y: -497px
}

.offer-item.tools {
  background-color: #4AAFDE;
}

.offer-item.machinery {
  background-color: #CC79D1;
  background-position-y: -175px
}

.offer-item.discount {
  background-color: #85D179;
  background-position-y: -658px
}

.offer-item.delivery {
  background-color: #F6B22D;
  background-position-y: -336px
}

.has-ribbon {
  position: relative;
  overflow: hidden;
}

.has-ribbon::after {
  content: "new";
  position: absolute;
  top: 6px;
  right: -44px;
  
  width: 130px;
  height: 28px;
  padding: 5px 0;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 26px;
  text-align: center;

  background-color: #EE3643;

  transform: rotate(45deg);
}

.offer-item p {
  width: 150px;
  margin: 0;

  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.offer-item a {
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-top: 13px;
  padding: 10px 0;

  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  transition: all 0.3s;
}

.offer-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  width: 620px;
  height: 265px;
  
  background-image: url('../img/first-slide.jpg');
  background-color: #958D82;
}

.slider-header {
  height: 105px;
  padding: 25px;
}

.slider-title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-header p {
  margin: 0;

  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'PT Sans', "Arial", sans-serif;
}

.btn {
  display: inline-block;
  height: 38px;
  padding: 10px 50px;

  background-color: #EE3643;
  border-radius: 3px;

  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #CA2C37;
}

.btn:active {
  background-color: #BA2732;
}

.slider .btn {
  position: absolute;
  left: 25px;
  bottom: 20px;
}

.slider-png-btn {
  height: 0;
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.slider-png-btn::after {
  content: "";
  position: absolute;
  left: 25px;

  width: 24px;
  height: 24px;
  border-top: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;

  transform: rotate(-45deg);
  cursor: pointer;
}

.slider-png-btn.next::after {
  left: unset;
  right: 20px;
  transform: rotate(135deg);
}

.section-title {
  display: flex;
  height: 90px;
  padding:  0px 30px 0px 25px;
  justify-content: space-between;
  align-items: center;

  background-color: #F7F3EC;
}

.section-title h2 {
  margin: 0;

  color: #333366;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-items-wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.popular-item {
  width: 220px;
  padding: 20px 15px; 

  text-align: center;

  border: 1px solid #E9E9E9;
}

.popular-item .title {
  color: #000000;
  font-size: 18px;
  font-family: 'PTSans', "Arial", sans-serif; 
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  margin: 15px 0;
  
  color: #999999;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
}

.popular-producers-wrapper {
  display: flex;
  height: 310px;
  margin-top: 20px;
  margin-bottom: 85px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.popular-producer {
  display: flex;
  width: 220px;
  height: 145px;
  justify-content: center;
  align-items: center;
  border: 1px solid #E9E9E9;
  
  transition: all 0.3s;
}

.popular-producer:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-producer:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.services {
  padding-top: 65px;

  background-color: #F2F6F8;
}

.services input[type="radio"] {
  display: none;
}

.services-header h2 {
  margin: 0;
  
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.services-header p {
  margin-top: 30px;
  margin-bottom: 70px;

  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.services-slider {
  display: flex;
  justify-content: space-between;
}

.services-list {
  position: relative;
  width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list li {
  height: 60px;
  padding: 15px 23px;

  background-color: #32425C;
}

.services-list li:hover {
  background-color: #293449;
}

.services-list label {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.services-item {
  width: 620px;
  min-height: 280px;
}

.services-item h3 {
  margin: 0;
  
  color: #32425C;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.services-item p {
  width: 300px;

  font-size: 13px;
  font-family: 'PT Sans', "Arial", sans-serif;
  line-height: 24px;
}